<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400&family=Slabo+27px&display=swap');

body {
    padding: 0 2%;
    margin: 1% 0;
    font-family: 'Bitter', serif;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    padding: 0 2%;
    font-family: 'Bitter', serif;
}

nav .profil {
    display: flex;
    align-items: center;
}

nav .profil img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

nav .profil h1 {
    margin-left: 10px;
    font-size: 20px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 1pX solid white;
}

nav ul li:hover {
    border-bottom-color: black;
}

a {
    color: black;
    text-decoration: none;
}

.pagecontenu {
    margin: 4%;
}

.pagecontenu header {
    margin-top: 5%;
    max-width: 80%;
}

.pagecontenu header h1 {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Slabo 27px', serif;
    font-size: 1.5em;
    animation: apparition 1.3s ease-out;
}

.pagecontenu header p {
    line-height: 30px;
    color: #818181;
}

.pagecontenu .imagepresentation {
    padding-top: 3%;
    
}


.pagecontenu .imagepresentation img {
    max-width: 100%;
    height: auto;
   animation: imageapparition 1.3s ease-out;
}


.pagecontenu header {
    margin-top: 10%;
    max-width: 100%;
}

.pagecontenu .projetexperience {
    margin-top: 5%;
}

.pagecontenu .projetexperience h1 {
    font-family: 'Slabo 27px', serif;
    text-transform: uppercase;
    font-size: 1.5em;
    
}

.pagecontenu .projetexperience .experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pagecontenu .projetexperience .experience .exp {
    margin-right: 7%;
    max-width: 195px;
}

.pagecontenu .projetexperience .experience .exp h4 {
    margin: 0;
    font-size: 1.5em;

}

.pagecontenu .projetexperience .experience .exp .description {
    font-size: 1em;
}

.pagecontenu .projetexperience2 {
    margin-top: 5%;
}

.pagecontenu .projetexperience2 h1 {
    font-family: 'Slabo 27px', serif;
    text-transform: uppercase;
    font-size: 1.5em;
    
}

.pagecontenu .projetexperience2 .experience2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pagecontenu .projetexperience2 .experience2 .exp2 {
    margin-right: 7%;
    max-width: 350px;
}

.pagecontenu .projetexperience2 .experience2 .exp2 h4 {
    margin: 0;
    font-size: 1.5em;

}

.pagecontenu .projetexperience2 .experience2 .exp2 .description2 {
    font-size: 1em;
}

.footcontact {
    background-color: black;
    padding-top: 2%;
    padding-bottom: 2%;
}


.footcontact .contact h3 {
    color: gray;
    text-align: center;
}

.footcontact .contact p {
    color: white;
    text-align: center;
}


@media screen and (max-width: 700px) {
    nav {
        justify-content: center;
    }
   nav ul {
       padding: 0;
       margin-top: 5%;
   }
   .pagecontenu .projetexperience .experience {
        justify-content: flex-start;
    }

    .pagecontenu .projetexperience .experience .exp{
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 100%;
    
    }


    .pagecontenu .projetexperience .experience .exp h4 {
        font-size: 1.5em;

    }

    .pagecontenu .projetexperience .experience .exp .description {
        font-size: 1em;
    
    }
    .pagecontenu .projetexperience2 .experience2 {
        justify-content: flex-start;
    }
}

@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(-100px);
        font-family: 'Slabo 27px', serif;
    }
    to {
        opacity: 1;
        transform: translateY(0px);
        font-family: 'Slabo 27px', serif;
    }
}

@keyframes imageapparition {
    from {
        opacity: 0;
      
    }
    to {
        opacity: 1;
        
    }
}
=======
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400&family=Slabo+27px&display=swap');

body {
    padding: 0 2%;
    margin: 1% 0;
    font-family: 'Bitter', serif;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
}

nav .profil {
    display: flex;
    align-items: center;
}

nav .profil img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

nav .profil h1 {
    margin-left: 10px;
    font-size: 20px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 1pX solid white;
}

nav ul li:hover {
    border-bottom-color: black;
}

a {
    color: black;
    text-decoration: none;
}

.pagecontenu {
    margin: 4%;
}

.pagecontenu header {
    margin-top: 5%;
    max-width: 80%;
}

.pagecontenu header h1 {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Slabo 27px', serif;
    font-size: 1.5em;
    animation: apparition 1.3s ease-out;
}

@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(-100px);
        font-family: 'Slabo 27px', serif;
    }
    to {
        opacity: 1;
        transform: translateY(0px);
        font-family: 'Slabo 27px', serif;
    }
}

.pagecontenu header p {
    line-height: 30px;
    color: #818181;
}

.pagecontenu .imagepresentation {
    padding-top: 3%;
    
}


.pagecontenu .imagepresentation img {
    max-width: 100%;
    height: auto;
   animation: imageapparition 1.3s ease-out;
}

@keyframes imageapparition {
    from {
        opacity: 0;
      
    }
    to {
        opacity: 1;
        
    }
}

.pagecontenu header {
    margin-top: 10%;
    max-width: 100%;
}

.pagecontenu .projetexperience {
    margin-top: 5%;
}

.pagecontenu .projetexperience h1 {
    font-family: 'Slabo 27px', serif;
    text-transform: uppercase;
    font-size: 1.5em;
    
}

.pagecontenu .projetexperience .experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pagecontenu .projetexperience .experience .exp {
    margin-right: 7%;
    max-width: 195px;
}

.pagecontenu .projetexperience .experience .exp h4 {
    margin: 0;
    font-size: 1.5em;

}

.pagecontenu .projetexperience .experience .exp .description {
    font-size: 1em;
}

.pagecontenu .projetexperience2 {
    margin-top: 5%;
}

.pagecontenu .projetexperience2 h1 {
    font-family: 'Slabo 27px', serif;
    text-transform: uppercase;
    font-size: 1.5em;
    
}

.pagecontenu .projetexperience2 .experience2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pagecontenu .projetexperience2 .experience2 .exp2 {
    margin-right: 7%;
    max-width: 350px;
}

.pagecontenu .projetexperience2 .experience2 .exp2 h4 {
    margin: 0;
    font-size: 1.5em;

}

.pagecontenu .projetexperience2 .experience2 .exp2 .description2 {
    font-size: 1em;
}

.footcontact {
    background-color: black;
    padding-top: 2%;
    padding-bottom: 2%;
}


.footcontact .contact h3 {
    color: gray;
    text-align: center;
}

.footcontact .contact p {
    color: white;
    text-align: center;
}


@media screen and (max-width: 700px) {
    nav {
        justify-content: center;
    }
   nav ul {
       padding: 0;
       margin-top: 5%;
   }
   .pagecontenu .projetexperience .experience {
        justify-content: flex-start;
    }

    .pagecontenu .projetexperience .experience .exp{
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 100%;
    
    }


    .pagecontenu .projetexperience .experience .exp h4 {
        font-size: 1.5em;

    }

    .pagecontenu .projetexperience .experience .exp .description {
        font-size: 1em;
    
    }
    .pagecontenu .projetexperience2 .experience2 {
        justify-content: flex-start;
    }
}
>>>>>>> f00fac1266e5d40fafec5bf74d8eb72f19a34496
